

/* top */

* {
    box-sizing: border-box
}



body {
    margin: 5px;
    display: grid;
}

/* banners */
#banner {
    text-align: center;
    display:grid;
    font-family: 'Open sans', sans-serif;
    background-color: white;
    margin-top: 0px;
    padding-bottom:20px;
}

#bannerlente {
    text-align: center;
    display:grid;
    font-family: 'Open sans', sans-serif;
    background-color: white;
    margin-top: 0px;
    padding-bottom:20px;
}

/* texten */

#Verderkijken {
    text-align: justify;
    display: inline-block;
}


#wildkamperen {
    text-align: justify;
    display: inline-block;
}

#backpacking {
    text-align: justify;
    display: inline-block;
}
/* images */

img#lenteIMG {
   width:100%;
}

img#wildcamperenIMG {
    width:100%;
}

img#wildcamperenIMG2 {
    width: 100%;
}

img#backpackIMG1 {
    width:100%;
}

img#backpackIMG2 {
    width:100%;
}

img#archeologieIMG {
    width:100%;
}

#kwastIMG {
    display: inline-block;
    float:right;
}

/* small texten */
#minitext{
    font-size: 12px;
    text-align: center;
    color:lightgrey;

}

#smalltext {
    text-align: left;
    font-size: 12px;
    color:lightgrey;

}

#smalltext2 {
    text-align: center;
    font-size: 12px;
    color:lightgrey;

}

#smalltext3 {
    text-align: center;
    font-size: 12px;
    color:lightgrey;

}

/* navigation */

nav {
    background-color:black;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    text-align: left;
    font-size: 14px;
    padding-left: 18px;
    margin: auto;
}

#navbar a {
    color:white;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
}

/* articles */

div#section {
    height: 100%;
}

div#section a {
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto;
    color: black;
    text-decoration: none;
}

div#wrapper {
    max-width: 960px;
    padding: 0px;
    margin: auto;
    background: lightgrey;
    height:100%;
}

.article {
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}

article {
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.bottom {
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}
.skipPage {
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: left;
    font-family: 'Open sans', sans-serif;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}

div#dieren\ nieuws a {
    color:crimson;
    text-decoration: none;
}

div#text\ links a {
  color:crimson;
  text-decoration: none;
}

/* buttons */

.buttons{
    cursor: pointer;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: crimson;
    border-color: crimson;
    color:white;
    max-width: 97.34px;
}

.buttons:hover {
    background-color: darkred;
}


h3 {
    font-family: 'Open sans', sans-serif;
}



