

/* top */

* {
    box-sizing: border-box
}



body {
    margin: 5px;
    display: grid;


}

#banner {
    text-align: center;
    display:grid;
    font-family: 'Open sans', sans-serif;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 25px;
}

#title {

}





/* navigation */



nav {
    background-color:black;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    text-align: left;
    font-size: 14px;
    padding-left: 18px;
    margin: auto;

}

#navbar a {
    color:white;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
}


/* articles */

div#section {
   background-color: lightgrey;
    height: 100%;
}

div#section a {
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto;
    color: black;
    text-decoration: none;
}

div#wrapper {
    max-width: 960px;
    padding: 10px;
    margin: auto;
    background: lightgrey;
}

.article {
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}

article {
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.bottom {
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}







div#dieren\ nieuws a {
    color:crimson;
    text-decoration: none;
}

div#text\ links a {
  color:crimson;
  text-decoration: none;
}

/* buttons */

.buttons{
    cursor: pointer;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: crimson;
    border-color: crimson;
    color:white;
    max-width: 97.34px;
}


h3 {
    font-family: 'Open sans', sans-serif;
}



