@media all {
    #homeNav {
        padding: 5px;
    }

    #archeologieNav {

        padding: 5px;
    }

    #backpackNav {
        padding: 5px;
    }

    #bergNav {
        padding: 5px;
    }
}

/* tablet */

@media all and (min-width: 768px) {
    #homeNav {
        align-self: center;
        padding: 5px;
        grid-column: 1;
        grid-row: 1;
    }

    #archeologieNav {
        align-self: center;
        padding: 5px;
        grid-column: 2;
        grid-row: 1;
    }

    #backpackNav {
        align-self: center;
        padding: 5px;
        grid-column: 3;
        grid-row: 1;
    }

    #bergNav {
        align-self: center;
        padding: 5px;
        grid-column: 4;
        grid-row: 1;
    }

    #article1 {
        padding: 5px;
        grid-column: 1;
        grid-row: 1;
    }

    #article2 {
        padding: 5px;
        grid-column: 2;
        grid-row: 1;
    }

    #article3 {
        padding: 5px;
        grid-column: 1;
        grid-row: 2;
    }

    #article4 {
        padding: 5px;
        grid-column: 2;
        grid-row: 2;
    }

    #nextpage {
        padding: 5px;
        grid-row: 1;
        grid-column: 1;
    }

    #previouspage {
        padding: 5px;
        grid-row: 1;
        grid-column: 2;
    }

    #links1 {
        padding: 5px;
        grid-column: 1;
        grid-row: 5;
        grid-column-end: 3;
    }

    #links2 {
        padding: 5px;
        grid-row: 6;
        grid-column: 1;
        grid-column-end: 3;
    }
}

/* desktop */

@media all and (min-width: 992px) {

    #banner {
        text-align: left;
    }

    #bannerlente {
        text-align: left;
    }

    #lenteIMG {
        display: inline-block;
    }

    #homeNav {
        align-self: center;
        padding: 5px;
        grid-column: 1;
        grid-row: 1;
    }

    #archeologieNav {
        align-self: center;
        padding: 5px;
        grid-column: 2;
        grid-row: 1;
    }

    #backpackNav {
        align-self: center;
        padding: 5px;
        grid-column: 3;
        grid-row: 1;
    }

    #bergNav {
        align-self: center;
        padding: 5px;
        grid-column: 4;
        grid-row: 1;
    }

    #article1 {
        padding: 5px;
        grid-column: 1;
        grid-row: 1;
    }

    #article2 {
        padding: 5px;
        grid-column: 2;
        grid-row: 1;
    }

    #article3 {
        padding: 5px;
        grid-column: 1;
        grid-row: 2;
    }

    #article4 {
        padding: 5px;
        grid-column: 2;
        grid-row: 2;
    }

    #nextpage {
        padding: 5px;
        grid-row: 1;
        grid-column: 1;
    }

    #previouspage {
        padding: 5px;
        grid-row: 2;
        grid-column: 1;
    }

    #links1 {
        padding: 5px;
        grid-column: 3;
        grid-row: 1;
    }

    #links2 {
        padding: 5px;
        grid-column: 3;
        grid-row: 2;
        height: 50%;
    }

    #lente {
        pading: 5px;
        grid-row: 1;
        grid-column: 2;
    }

    #Verderkijken {
        pading: 5px;
        grid-row: 1;
        grid-column: 2;
    }


    #backpacking {
        pading: 5px;
        grid-row: 1;
        grid-column: 2;
    }


    #wildkamperen {
        pading: 5px;
        grid-row: 1;
        grid-column: 2;
    }

    #borderBottom {
        background-color: black;
        width: 960px;
        height: 29px;
        margin: auto;
    }
}